<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="#{title.about.project}"></title>
</head>
<body>
<h1 th:utext="#{title.header}"></h1>

<div>
    <tr th:each="item : ${project.getWorkersId()}">
        <p>
            <label th:utext="#{worker.id}"></label>
        <td th:text="${item.id}"></td>
        <label th:utext="#{worker.username}"></label>
        <td th:text="${item.firstName}"></td>
        <label th:text="#{worker.username.second.name}"></label>
        <td th:text="${item.lastName}"></td>
        </p>
    </tr>
    <br>
    <tr>
        <p>
            <label th:utext="#{project.id}"></label>
        <td th:text="${project.getId()}"></td>
        <label th:utext="#{project.name}"></label>
        <td th:text="${project.getProjectName()}"></td>
        </p>
    </tr>
    <br>
    <tr th:each="item : ${project.getTasks()}">
        <p>
            <label th:utext="#{task.id}"></label>
        <td th:text="${item.getId()}"></td>
        <label th:utext="#{task.name}"></label>
        <td th:text="${item.getTaskName()}"></td>
        <label th:utext="#{task.date}"></label>
        <td th:text="${item.getDateCreateTask()}"></td>
        <br/>
        <label th:utext="#{task.text}"></label>
        <td th:text="${item.getTextTask()}"></td>
        <br/>
        <label th:utext="#{worker.id}"></label>
        <td th:text="${item.getUserId()}"></td>
        </p>
    </tr>
</div>
<br/>
<hr>
<form th:action="@{/user}" method="POST">
    <button type="submit" th:utext="#{button.main.page}"></button>
</form>
</body>
</html>
