<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<head>
    <title>Страница пользователя</title>
</head>
<body>
<h1>Выберите запрос : </h1>
<div>

    <form th:action="@{/showWorkerById}" th:method="post">

        <div th:if="${param.error}">
            <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
        </div>

        <th:p>
            <label for="id">Введите ID сотрудника : </label>
            <input type="id" id="id" name="workerId"/> <br/>
        </th:p>

        <br/>

        <th:p>
            <input type="submit" value="Отправить запрос"/>
        </th:p>
        <br/>
    </form>
    <br/>
    <hr>
    <form th:action="@{/getById}" th:method="post">

        <div th:if="${param.error}">
            <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
        </div>

        <th:p>
            <label for="projectId">Введите ID проекта : </label>
            <input type="id" id="projectId" name="projectId"/> <br/>
        </th:p>

        <br/>

        <th:p>
            <input type="submit" value="Отправить запрос"/>
        </th:p>
        <br/>
    </form>
    <hr>
    <form th:action="@{/logout}" method="POST">
        <button type="submit">Logout</button>
    </form>


</div>

</body>
</html>
