<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<head>
    <title th:utext="#{title.about.worker}"></title>
</head>
<body>
<h1 th:utext="#{header.about.worker}"></h1>
<hr>
<div>
    <tr>
        <p>
            <label th:utext="#{worker.id}"></label>
        <td th:text="${infoAboutUser.getWorker().id}"></td>

        <label th:utext="#{worker.username}"></label>
        <td th:text="${infoAboutUser.getWorker().firstName}"></td>
        <label th:utext="#{worker.username.second.name}"></label>
        <td th:text="${infoAboutUser.getWorker().lastName}"></td>
        </p>
    </tr>
    <br/>
    <tr th:each="project : ${infoAboutUser.getWorker().getProjects()}">
        <label th:utext="#{project.id}"></label>
        <td th:text="${project.getId()}"></td>
        <label th:utext="#{project.name}"></label>
        <td th:text="${project.getProjectName()}"></td>
    </tr>
    <br/>
    <tr th:each="worker : ${infoAboutUser.getTasks()}">
        <p>
            <label th:utext="#{task.id}"></label>
        <td th:text="${worker.id}"></td>

        <label th:utext="#{task.date}"></label>
        <td th:text="${worker.getDateCreateTask()}"></td>

        <label th:utext="#{task.name}"></label>
        <td th:text="${worker.getTaskName()}"></td>
        </p>
    </tr>

    <br/>
    <hr>
    <form th:action="@{/user}" method="POST">
        <button type="submit" th:utext="#{button.main.page}"></button>
    </form>
</div>
</body>
</html>
