<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="#{title.registration}"></title>
</head>
<body>
<h1 th:utext="#{title.registration}"></h1>

<form th:action="@{/registration}" method="post">
    <div>
        <div th:if="${param.error}">
            <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
        </div>
        <p>
            <label for="firstName" th:utext="#{worker.username}"></label><br/>
            <input type="text" id="firstName" name="firstName" autofocus="autofocus"/><br/>
        </p>
        <p>
            <label for="lastName" th:utext="#{worker.username.second.name}"></label><br/>
            <input type="text" id="lastName" name="lastName" autofocus="autofocus"/><br/>
        </p>
        <p>
            <label for="username" th:utext="#{username}"></label><br/>
            <input type="email" id="username" name="username" autofocus="autofocus"/><br/>
        </p>
        <p>
            <label for="password" th:utext="#{password}"></label><br/>
            <input type="password" id="password" name="password"/><br/>
        </p>
        <p>
            <button type="submit" th:utext="#{sign.up}"></button>
        </p>
    </div>
</form>

<form th:action="@{/backLogin}" method="get">
    <button type="submit" th:utext="#{back}"></button>
</form>
<br>
</body>
</html>