<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<head>
    <title>Задачи</title>
</head>
<body>
<h1>Показать все все задачи : </h1>

<div>
    <tr th:each="task : ${tasks}">
        <p>
            <th:label>| ID задачи :</th:label>
        <td th:text="${task.id}"></td>
        <br/>
        <th:label>| Название задачи :</th:label>
        <td th:text="${task.taskName}"></td>
        <br/>
        <th:label>| Дата создания :</th:label>
        <td th:text="${task.dateCreateTask}"></td>
        <br/>
        <th:label>| ID сотрудника :</th:label>
        <td th:text="${task.userId}"></td>
        <br/>
        <th:label>| ID проекта :</th:label>
        <td th:text="${task.getProjectId()}"></td>
        </p>
    </tr>
    <hr>
    <br/>
    <form th:action="@{/admin}" method="post">
        <button type="submit">Вернуться к запросам</button>
    </form>
</div>
</body>
</html>
