<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<head>
    <title th:utext="#{view.workers.title}"></title>
</head>
<body>
<h1 th:utext="#{view.workers.header}"></h1>
<div>
    <tr th:each="worker : ${listW}">
        <p>
            <label th:utext="#{worker.id}"></label>
        <td th:text="${worker.id}"></td>
        <br/>
        <label th:utext="#{worker.username}"></label>
        <td th:text="${worker.firstName}"></td>
        <br/>
        <label th:utext="#{worker.username.second.name}"></label>
        <td th:text="${worker.lastName}"></td>
        <br/>
        <label th:utext="#{worker.login}"></label>
        <td th:text="${worker.email}"></td>
        </p>
    </tr>
    <hr>
    <br/>
    <form th:action="@{/admin}" method="post">
        <button type="submit" th:utext="#{functional.button.back}"></button>
    </form>
</div>
</body>
</html>
