<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<head>
    <title th:utext="#{functional.task.title}"></title>
</head>
<body>
<h1 th:utext="#{functional.project.header}"></h1>

<div>
    <h1 th:utext="#{functional.task.answer}"></h1>
    <p th:text="${status}"></p>
</div>
<hr/>
<h1 th:utext="#{functional.project.header.create}"></h1>
<br>
<form method="post" th:action="@{/createProject}">
    <th:p>
        <label for="nameProject" th:utext="#{project.create.name}"></label>
        <br/>
        <input type="text" id="nameProject" name="nameProject"/> <br/>
    </th:p>
    <p>
        <button type="submit" th:utext="#{project.button.create}"></button>
    </p>
</form>
<hr/>
<h1 th:utext="#{functional.project.header.delete}"></h1>
<br>
<form method="post" th:action="@{/removeProject}">
    <th:p>
        <label for="projectId" th:utext="#{task.create.id}"></label>
        <br/>
        <input type="text" id="projectId" name="projectId"/> <br/>
    </th:p>
    <p>
        <button type="submit" th:utext="#{project.button.delete}"></button>
    </p>
</form>
<hr/>
<h1 th:utext="#{functional.project.header.add.worker}"></h1>
<br>
<form method="post" th:action="@{/addExecutor}">
    <th:p>
        <label for="projectIdFromAddExecutor" th:utext="#{task.create.id}"></label>
        <br/>
        <input type="text" id="projectIdFromAddExecutor" name="projectId"/> <br/>
    </th:p>
    <th:p>
        <label for="workerId" th:utext="#{task.add.executor.id}"></label>
        <br/>
        <input type="text" id="workerId" name="workerId"/> <br/>
    </th:p>
    <p>
        <button type="submit" th:utext="#{project.button.add.worker}"></button>
    </p>
</form>
<hr/>
<h1 th:utext="#{functional.project.header.change.name}"></h1>
<br>
<form method="post" th:action="@{/updateNameProject}">
    <th:p>
        <label for="projectIdForChangeNameProject" th:utext="#{task.create.id}"></label>
        <br/>
        <input type="text" id="projectIdForChangeNameProject" name="projectId"/> <br/>
    </th:p>
    <th:p>
        <label for="newNameProject" th:utext="#{project.new.name}"></label>
        <br/>
        <input type="text" id="newNameProject" name="newNameProject"/> <br/>
    </th:p>
    <p>
        <button type="submit" th:utext="#{project.button.new.name}"></button>
    </p>
</form>
<hr/>
<h1 th:utext="#{functional.project.header.delete.worker}"></h1>
<br>
<form method="post" th:action="@{/removeWorkerFromProject}">
    <th:p>
        <label for="projectIdForRemoveWorker" th:utext="#{task.create.id}"></label>
        <br/>
        <input type="text" id="projectIdForRemoveWorker" name="projectId"/> <br/>
    </th:p>

    <th:p>
        <label for="workerIdForDelete" th:utext="#{task.add.executor.id}"></label>
        <br/>
        <input type="text" id="workerIdForDelete" name="workerId"/> <br/>
    </th:p>
    <p>
        <button type="submit" th:utext="#{project.button.delete.worker}"></button>
    </p>
</form>
<hr/>
<h1 th:utext="#{functional.project.header.complete.delete.worker}"></h1>
<br>
<form method="post" th:action="@{/removeWorker}">

    <th:p>
        <label for="removeWorkerFomSystem" th:utext="#{task.add.executor.id}"></label>
        <br/>
        <input type="text" id="removeWorkerFomSystem" name="workerId"/> <br/>
    </th:p>
    <p>
        <button type="submit" th:utext="#{project.button.complete.delete.worker}"></button>
    </p>
</form>
<br/>
<form th:action="@{/admin}" method="post">
    <button type="submit" th:utext="#{functional.button.back}"></button>
</form>
<br/>
<hr>
</body>
</html>
