<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<head>
    <title th:utext="#{functional.task.title}"></title>
</head>
<body>
<h1 th:utext="#{functional.task.header}"></h1>

<div>
    <h1 th:utext="#{functional.task.answer}"></h1>
    <p th:text="${status}"></p>
</div>
<hr/>
<br>
<h1 th:utext="#{functional.task.header.create}"></h1>
<form th:action="@{/createTask}" method="post">
    <p>
        <label for="createTaskText" th:utext="#{task.create}"></label>
        <br>
        <textarea name="textTask" id="createTaskText"></textarea>
    </p>
    <p>
        <label for="createTaskName" th:utext="#{task.create.name}"></label>
        <br>
        <input type="text" id="createTaskName" name="taskName">
    </p>
    <p>
        <label for="createTaskID" th:utext="#{task.create.id}"></label>
        <br>
        <input type="text" id="createTaskID" name="projectId">
    </p>
    <p>
        <button type="submit" th:utext="#{task.create.button}"></button>
    </p>
</form>
<br>
<h1 th:utext="#{functional.task.header.delete}"></h1>
<form th:action="@{/removeTask}" method="post">
    <p>
        <label for="removeTaskID" th:utext="#{task.delete.id}"></label>
        <br>
        <input type="text" id="removeTaskID" name="taskId">
    </p>
    <p>
        <button type="submit" th:utext="#{task.delete.button}"></button>
    </p>
</form>
<br>
<h1 th:utext="#{functional.task.add.executor.header}"></h1>
<form th:action="@{/assignExecutor}" method="post">
    <p>
        <label for="assignTaskId" th:utext="#{task.delete.id}"></label>
        <br>
        <input type="text" id="assignTaskId" name="taskId">
    </p>
    <p>
        <label for="assignWorkerID" th:utext="#{task.add.executor.id}"></label>
        <br>
        <input type="text" id="assignWorkerID" name="workerId">
    </p>
    <p>
        <button type="submit" th:utext="#{task.add.executor.button}"></button>
    </p>
</form>
<br>
<h1 th:utext="#{functional.task.suspend.executor.header}"></h1>
<form th:action="@{/removeExecutor}" method="post">
    <p>
        <label for="removeExecutorTaskId" th:utext="#{task.delete.id}"></label>
        <br>
        <input type="text" id="removeExecutorTaskId" name="taskId">
    </p>
    <p>
        <label for="removeExecutorTaskIdWorkerID" th:utext="#{task.add.executor.id}"></label>
        <br>
        <input type="text" id="removeExecutorTaskIdWorkerID" name="workerId">
    </p>
    <p>
        <button type="submit" th:utext="#{task.suspend.button}"></button>
    </p>
</form>
<hr/>
<br/>
<form th:action="@{/admin}" method="post">
    <button type="submit" th:utext="#{functional.button.back}"></button>
</form>
<br/>
<hr>

</body>
</html>
