<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
</head>
<body>
<h1>Регистрация</h1>

<form th:action="@{/registration}" method="post">
    <div>
        <div th:if="${param.error}">
            <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
        </div>

        <label for="firstName">Username</label>:
        <input type="text" id="firstName" name="firstName" autofocus="autofocus"/> <br/>

        <label for="lastName">Username</label>:
        <input type="text" id="lastName" name="lastName" autofocus="autofocus"/> <br/>


        <label for="username">Username</label>:
        <input type="text" id="username" name="username" autofocus="autofocus"/> <br/>

        <label for="password">Password</label>:
        <input type="password" id="password" name="password"/> <br/>

        <input type="submit" value="Log in"/>
    </div>
</form>


</body>
</html>