<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<head>
    <title>Страница администратора</title>
</head>
<body>
<h1>Выберите запрос : </h1>
<hr>
<form method="get" th:action="@{/showProjects}">
    <button type="submit">Показать все проекты</button>
</form>
<br/>
<form method="get" th:action="@{/showWorkers}">
    <button type="submit">Показать всех сотрудников</button>
</form>
<br/>
<form method="get" th:action="@{/showTasks}">
    <button type="submit">Показать все задачи</button>
</form>
<br/>
<form method="post" th:action="@{/adminWorkObject}">
    <button type="submit">На страницу работы над объектами</button>
</form>
<br/>
<hr>
<form th:action="@{/logout}" method="POST">
    <button type="submit">Logout</button>
</form>
</body>
</html>
